{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading"><b>This is what I do.</b></span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
         My professional background bridges the gap between traditional power systems and
          modern embedded electronics. I have gained hands-on experience in <b>solar PV system
          design and optimization</b>, calculating output power and payback periods. I have also
          performed diagnostic testing for <b>industrial transformers</b>, including insulation
          resistance and full-load tests. Currently, as an Erasmus+ trainee at Vilnius Tech, I am
          developing an <b>IoT-based monitoring system</b> using Python and Raspberry Pi. This
          project involves managing dual data streams for real-time processing.
        </p>
        <p>
          Beyond my technical background, I possess significant experience in international
          commerce and professional communication. My tenure as a Salesperson and Translator
          at <b>Ikarde Garden & Home</b> involved managing B2B sales for the global market and
          serving as the primary linguistic bridge for international stakeholders during complex
          negotiations. My 18-month commitment as an English Language Instructor at <b>TEOL
          Language Schools</b> demonstrates that I can simplify complex concepts and maintain
          professional standards while managing a rigorous academic and technical workload.
        </p>
        <p>
          I am a trilingual, fluent in <b>English, Arabic, and Turkish</b>, with a proven ability to thrive
          in diverse environments following my time in Türkiye, Poland, and Lithuania.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
